* {
    list-style: none;
}
body {
    background-image: url("https://img-9gag-fun.9cache.com/photo/aRPz5Vy_700bwp.webp");
    background-size: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
}

.container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255, .7);
}

.ingredientes {
    color: black;
    background-color: ;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
}

.preparate {
    color: black;
    background-color: hite;
    border: 2px solid black;
    text-align: center;
}

h1 {
    font-size: 70px;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: red;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    font-size: 30px;
}


a:hover {
    color: rgb(185, 14, 14);
    cursor: pointer;
}