.container {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255, .7);
    justify-content: space-around;    
}

.IMG {
    width: 500px;
    border: 2px solid black;
    border-radius: 20px;
}

.Preparate {
    color: black;
}

.ingredientes {
    color: black;
}

body {
    background-image: url("https://i.pinimg.com/564x/89/c2/73/89c27359e0932f3e5bdb5faecd4cfb2c.jpg");
    background-size: cover;

}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 174, 255);
    font-size: 30px;
    text-align: center;
    
}


a:hover {
    color: blue;
    cursor: pointer;
}